* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@media all and (max-width:768px){
	.item{
		max-width: initial;
		max-height: initial;
		width: 95vw;
		height: calc(95vw / 16 * 9);
		}
	.img_link{
		margin: 5px 0;
			}
								}
body {
	backgroung-color:lightblue;
}

.main {
		background-color: lightgrey;
		width:95%;
		max-width: 1000px;
		margin: auto;
		box-shadow: 0 0 10px 1px rgba(255, 0,255, 0.3);
		display: flex;
		flex-wrap: wrap;
		
 }


 }

 .item {
 	max-width: 490px;
 	max-height: 265px;
 	height:calc(95vw / 2 / 16 * 9);
 	width:calc(90vw - 10px);
 	background-color: darkcyan;
 	background-position: center;
 	background-size: cover;
 	
 }

 .heading{
 	font-size: 58px;
 	text-align: center;
 	width: 100%;
 	padding: 30px 30px;
 }
 
 h1{
 	font-family: 'Pacifico', cursive;
 	color: #800;
 }
.img_link{
	margin: 5px;
	display: block;
	opacity:0.6;
	transition: opacity 0.6s Ease, transform 0.4s ease-in, box-shadow 0.6s ease-in;
}
.img_link:hover {
	opacity: 1;
	transform: scale(1.2) rotate(5deg);
	z-index: 10;
	box-shadow: 0 0 220px 32px rgba(30,144,255,0.4);
}
.link_wrapper {
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

}
.author{
	color: #111;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: 0.6s ease-in;
}
.author:hover{
	border-bottom-color: #111;
}